# Challonge API Konfiguration
CHALLONGE_API_KEY="apikeyhere"
CHALLONGE_API_BASE_URL="https://api.challonge.com/v2.1"
TOURNAMENT_ID="testturnier13"
TOURNAMENT_NAME="Bierpongturnier"

# Server Konfiguration
PORT=3000
UPDATE_INTERVAL=15000
LOG_ENABLED="true"
API_LOG_MAX_CHARS=8000